<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">
	<display-name>Welcome to Tomcat</display-name>
	<description>
		Welcome to Tomcat
	</description>
    <!-- Filter to set request character encoding to UTF-8 -->
    <filter>
        <filter-name>Utf8RequestCharacterEncodingFilter</filter-name>
        <filter-class>com.aoindustries.servlet.filter.Utf8RequestCharacterEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Utf8RequestCharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
	<servlet>
		<servlet-name>CSS</servlet-name>
		<servlet-class>com.javaphilia.javatator.CSS</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Images</servlet-name>
		<servlet-class>com.javaphilia.javatator.Images</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JavaScript</servlet-name>
		<servlet-class>com.javaphilia.javatator.JavaScript</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Main</servlet-name>
		<servlet-class>com.javaphilia.javatator.Main</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SchemaImage</servlet-name>
		<servlet-class>com.javaphilia.javatator.SchemaImage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Settings</servlet-name>
		<servlet-class>com.javaphilia.javatator.Settings</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CSS</servlet-name>
		<url-pattern>/servlet/com.javaphilia.javatator.CSS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Images</servlet-name>
		<url-pattern>/servlet/com.javaphilia.javatator.Images</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JavaScript</servlet-name>
		<url-pattern>/servlet/com.javaphilia.javatator.JavaScript</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Main</servlet-name>
		<url-pattern>/servlet/com.javaphilia.javatator.Main</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SchemaImage</servlet-name>
		<url-pattern>/servlet/com.javaphilia.javatator.SchemaImage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Settings</servlet-name>
		<url-pattern>/servlet/com.javaphilia.javatator.Settings</url-pattern>
	</servlet-mapping>
</web-app>
