<?xml version="1.0" encoding="UTF-8"?>
<!--
javatator - Multi-database admin tool.

Copyright (C) 2001  Jason Davies.
    If you want to help or want to report any bugs, please email me:
    jason@javaphilia.com

Copyright (C) 2009, 2015, 2019, 2021  AO Industries, Inc.
    support@aoindustries.com
    7262 Bull Pen Cir
    Mobile, AL 36695

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
-->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="false">
	<display-name>@{project.name} @{project.version}</display-name>
	<description>@{project.description}</description>

	<context-param>
		<description>
			Sets the filesystem path to the properties file to load for the
			application database configuration.  When not set, will use the
			bundled default database.properties.
		</description>
		<param-name>com.javaphilia.javatator.DatabaseConfiguration</param-name>
		<param-value></param-value>
	</context-param>

	<context-param>
		<description><![CDATA[
			Controls the selection of HTML versus XHTML.  Supports three values:
			<ul>
				<li><code>SGML</code> - Use HTML always</li>
				<li><code>XML</code> - Use XHTML always</li>
				<li><code>auto</code> - (default) - Automatically choose based on the client's <code>Accept</code> header</li>
			</ul>
		]]></description>
		<param-name>com.aoapps.encoding.Serialization.default</param-name>
		<param-value>SGML</param-value>
	</context-param>

	<context-param>
		<description><![CDATA[
			Controls the default DOCTYPE for the application.  Supported values:
			<ul>
				<li><code>HTML5</code> - Use (X)HTML 5</li>
				<li><code>STRICT</code> - Use (X)HTML strict</li>
				<li><code>TRANSITIONAL</code> - Use (X)HTML transitional/loose</li>
				<li><code>FRAMESET</code> - Use (X)HTML frameset</li>
				<li><code>NONE</code> - No doctype</li>
				<li><code>default</code> - (default) - Use (X)HTML 5</li>
			</ul>
		]]></description>
		<param-name>com.aoapps.encoding.Doctype.default</param-name>
		<param-value>default</param-value>
	</context-param>

	<!-- TODO: Review filters versus other projects -->

	<!-- Error Pages -->
	<!-- Using error pages from ao-error-pages:/META-INF/web-fragment.xml -->

</web-app>
