<?xml version="1.0" encoding="UTF-8"?>
<!--
javatator - Multi-database admin tool.

Copyright (C) 2001  Jason Davies.
    If you want to help or want to report any bugs, please email me:
    jason@javaphilia.com

Copyright (C) 2009, 2015, 2019  AO Industries, Inc.
    support@aoindustries.com
    7262 Bull Pen Cir
    Mobile, AL 36695

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">
	<display-name>@{project.name} @{project.version}</display-name>
	<description>@{project.description}</description>
	<!-- TODO: Review filters versus other projects -->
	<context-param>
		<description>
			Sets the filesystem path to the properties file to load for the
			application database configuration.  When not set, will use the
			bundled default database.properties.
		</description>
		<param-name>com.javaphilia.javatator.DatabaseConfiguration</param-name>
		<param-value></param-value>
	</context-param>
	<!-- Filter to set request character encoding to UTF-8 -->
	<filter>
		<filter-name>Utf8RequestCharacterEncodingFilter</filter-name>
		<filter-class>com.aoindustries.servlet.filter.Utf8RequestCharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Utf8RequestCharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<servlet>
		<servlet-name>Main</servlet-name>
		<servlet-class>com.javaphilia.javatator.Main</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SchemaImage</servlet-name>
		<servlet-class>com.javaphilia.javatator.SchemaImage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Settings</servlet-name>
		<servlet-class>com.javaphilia.javatator.Settings</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Main</servlet-name>
		<url-pattern>/servlet/com.javaphilia.javatator.Main</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SchemaImage</servlet-name>
		<url-pattern>/schema.gif</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Settings</servlet-name>
		<url-pattern>/servlet/com.javaphilia.javatator.Settings</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>com.javaphilia.javatator.DatabaseConfigurationContext</listener-class>
	</listener>
</web-app>
